
@font-face {
    font-family: 'EudoxusSans-bold';
     src:url('../fonts/EudoxusSans-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'EudoxusSans-extrabold';
     src:url('../fonts/EudoxusSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'EudoxusSans-medium';
     src:url('../fonts/EudoxusSans-Medium.ttf') format('truetype');
}


@font-face {
    font-family: 'EudoxusSans-regular';
     src:url('../fonts/EudoxusSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'EudoxusSans-light';
     src:url('../fonts/EudoxusSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'FoundersGrotesk-bold';
     src: url('../fonts/FoundersGrotesk-Bold.otf') format('OpenType Font');
}

@font-face {
    font-family: 'FoundersGrotesk-semibold';
     src:url('../fonts/FoundersGrotesk-Semibold.otf') format('OpenType Font')
}

body{
    color:#1C1C1C;
}

.titulo{
    font-family: "FoundersGrotesk-semibold";
    font-size: 58px;
    font-weight: 700px;
    text-align: center;
    padding: 30px 0;
    margin-top: 40px;
}

header .bg-light{
	background-color: transparent !important;
    font-family: "EudoxusSans-medium";
}

#header-copy{
    text-align: center;
    background-color: #1C1C1C;
    color: #F8F8F8;
    font-family: "FoundersGrotesk-semibold";    
    font-size: 25px;
    padding: 5px 0;
    word-spacing: 30px;
}

#header-copy img{
    padding: 20px 0;
    margin-top: 10px;
}

#header-copy li{
    margin-top: 10px;
}

#header-copy a{
    text-decoration: none;
}

	/*height: posicion iconos*/
#header-copy i{
    color: #F8F8F8;
    margin-top: 1%;
    font-size: 32px;
}

.header-iconos{
    position:absolute;
    right:0px;
}



#icons-header i{
    color: #fff;
}

#artistas-inicio img{
    width: 70%;
}

.texto-inicio{
    margin-top: 45%;
    margin-right: 27%;
}

.texto-inicio h3{
    font-family: "FoundersGrotesk-semibold";
    font-size: 45px;
    text-align: left;
}

.texto-inicio h5{
    margin-top: 10px;
    font-size: 18px;
    font-family: "EudoxusSans-regular";    
    text-align: left;
}

.texto-inicio p{
    margin-top: 25px;
    font-size: 22px;
    font-family: "EudoxusSans-bold";    
    text-align: center;
}

.texto-inicio a{
    background-color:#F35B1B;
    color: #fff;
    margin-top: 30px;
    padding: 7px 20px;
    font-family: "EudoxusSans-regular";   
    border-radius: 50px; 
}

.texto-inicio a:hover{
    background-color: #1C1C1C;
    color: #F8F8F8;
}

#galeria-inicio{
    text-align: center;
    padding: 55px 0;
}

#galeria-inicio img{
    box-shadow: 0px 0px 20px 2px #1C1C1C;
    margin: 25px 0;
}

#galeria-inicio a{
    background-color:#6955A5;
    color: #fff;
    margin-top: 45px;
    padding: 7px 20px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px;     
}

#galeria-inicio a:hover{
    background-color: #1C1C1C;
    color: #F8F8F8;
}

footer{
    background-color: #1C1C1C;
    color: #F8F8F8;
    text-align:left;
    padding: 10px 0;
    font-family: "EudoxusSans-light";
}

footer img{
    margin-top: 10px;
}

footer li{
    font-size: 15px;
    margin-top: 15px;
}

footer p span{
    font-size: 12px;
    color: #D9D9D9;
    font-family: "EudoxusSans-light";
}

.titulo-pages{
    text-align: left;
    font-weight: 700px;
    font-size: 58px;
    padding: 20px 0;
    font-family: "FoundersGrotesk-semibold";
}

#frase-artistas h5{
    text-align: center;
    font-family: "EudoxusSans-bold";
    font-size: 22px;
    color: #fff;
    background-color: #F35B1B;
    padding: 7px 0;
}

#buscador-artistas p{
    font-family: "EudoxusSans-medium";
    color: #B8B8B8;
    font-size: 21px;
    margin-top: 40px;
}

#buscador-artistas i{
    color: #B8B8B8;
    font-size: 24px;
    margin-top: 1%;
}

#buscador-artistas hr{
    border-top: 5px solid #1C1C1C;
}


#frase-galeria h5{
    text-align: center;
    font-family: "EudoxusSans-bold";
    font-size: 22px;
    color: #fff;
    background-color: #F9B600;
    padding: 7px 0;
}

#buscador-galeria p{
    font-family: "EudoxusSans-medium";
    color: #B8B8B8;
    font-size: 21px;
    margin-top: 40px;
}

#buscador-galeria i{
    color: #B8B8B8;
    font-size: 24px;
    margin-top: 1%;
}

#buscador-galeria hr{
    border-top: 5px solid #1C1C1C;
}

#water-lilies p{
    font-family: "EudoxusSans-light";
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
}

#water-lilies p span{
    font-family: "EudoxusSans-bold";
    font-size: 18px;
    text-align: center;
}

#water-lilies a{
    background-color: #6955A5;
    color: #fff;
    margin: 25px 0;
    padding: 7px 20px;
    margin-top: 5px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px; 
}

#water-lilies a:hover{
    background-color: #1C1C1C;
}

.carousel-inner img{
    margin-top: 40px;
}

.carousel-inner h5{
    font-family: "EudoxusSans-extrabold";
    font-size: 70px;
}

.carousel-inner p{
    font-family: "EudoxusSans-regular";
    font-size: 30px;
}

#van-gogh{
	padding: 45px 0;
    text-align: center;
}

#van-gogh h2{
    font-family: "EudoxusSans-bold";
    text-align: left;
    padding: 15px 0;
}

#van-gogh p{
	padding: 20px 0;
	text-align: center;
    font-size: 18px;
    font-family: "EudoxusSans-bold";
}

#van-gogh a{
    background-color: #F9B600;
    color: #fff;
    margin: 25px 0;
    padding: 7px 20px;
    margin-top: 5px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px; 
}

#van-gogh a:hover{
    background-color: #1C1C1C;
}

#menu-artistas a{
    background-color: #6955A5;
    color: #fff;
    margin: 25px 0;
    padding: 7px 20px;
    margin-top: 5px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px; 
}

#links-paginas{
    margin-left: 0;
}

#pablo-picasso{
    padding: 40px 0;
}

#pablo-picasso .pablo-info{
    margin-top: 15%;
}

#pablo-picasso h2{
    font-family: "FoundersGrotesk-semibold";
    font-size: 52px;
}

#pablo-picasso h3{
    font-family: "FoundersGrotesk-medium";
}

#pablo-picasso p{
    font-family: "FoundersGrotesk-light";
    font-size: 19px;
}

#pablo-picasso a{
    background-color: #F9B600;
    color: #fff;
    margin: 25px 0;
    padding: 7px 20px;
    margin-top: 5px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px; 
}

#pablo-picasso a:hover{
    background-color: #1C1C1C;
}

#nav-tienda{
    word-spacing: 80px;
    text-align: center;
}

#nav-tienda li{
    font-family: "EudoxusSans-medium";
    font-size: 20px;
}


#regalos h2{
    font-family: "EudoxusSans-extrabold";
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
}

#regalos a{
    background-color: #F9B600;
    color: #fff;
    margin: 25px 0;
    padding: 7px 20px;
    margin-top: 5px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px; 
}

#regalos a:hover{
    background-color: #1C1C1C;
}

#buscador-tienda p{
    font-family: "EudoxusSans-medium";
    color: #B8B8B8;
    font-size: 21px;
    margin-top: 40px;
}

#buscador-tienda i{
    color: #B8B8B8;
    font-size: 24px;
    margin-top: 1%;
}

#buscador-tienda hr{
    border-top: 5px solid #1C1C1C;
}

#book-discount img{
    padding: 20px 0;
}

#bestsellers{
    padding: 20px 0;
}

#bestsellers h2{
    font-family: "EudoxusSans-extrabold";
    text-align: center;
    font-size: 45px;
    padding: 20px 0;
}

#bestsellers p{
    font-family: "EudoxusSans-light";
    text-align: center;
    font-size: 14px;
}

#bestsellers a{
    background-color: #F35B1B;
    color: #fff;
    margin: 25px 0;
    padding: 7px 20px;
    margin-top: 20px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px; 
}

#bestsellers a:hover{
    background-color: #1C1C1C;
}

#newsletter {
	background-image: url("../img/fondomorado.jpg");
	background-size: cover;
	background-position: top center;
	padding: 15px 0 70px;
	text-align: center;
}

.text-news {
	padding-left: 20px;
}

#newsletter h2 {
	color: white;
	font-size: 60px;
	font-weight: 800;
	padding-top: 200px;
	padding-bottom: 25px;
}

#newsletter input {
	padding: 0 160px;
	border-top: none;
	border-left: none;
	border-right: none;
}

#newsletter h4 {
	color: white;
	font-size: 20px;
	font-weight: 300;
}

#newsletter img {
	width: 20%;
	text-align: center;
	padding-bottom: 100px;
}
#newsletter .form {
	text-align: center;
	background-color: white;
	padding: 45px 0px;
}

#newsletter .form p,input{
	padding-left: 15px;
	text-align: start !important;
}

#newsletter .btn.btn-dark {
	margin-top: 200px;
	padding: 8px 25px;
	border-radius: 45px;
}

#newsletter .icons{
	
	font-size: 25px;
	background-color: white;
	color: #6955A5;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 100%;
	margin-top: 25px;
	margin-bottom: 5px;
}

#menu-artistas{
    padding: 40px;
}

#menu-artistas a{
    background-color: #6955A5;
    color: #fff;
    margin: 25px 0;
    padding: 7px 20px;
    margin-top: 40px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px; 
}

#menu-artistas a:hover{
    background-color: #1C1C1C;
}

#newsletter{
    text-align: left;
}

#galeria-renacimineto a{
    background-color: #F9B600;
    color: #fff;
    margin: 25px 0;
    padding: 7px 20px;
    margin-top: 40px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px; 
}

#galeria-renacimineto a:hover{
    background-color: #1C1C1C;
}

#realismo a{
    background-color: #F35B1B;
    color: #fff;
    margin: 25px 0;
    padding: 7px 20px;
    margin-top: 40px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px; 
}

#realismo a:hover{
    background-color: #1C1C1C;
}

#galeria-surrealismo a{
    background-color: #6955A5;
    color: #fff;
    margin: 25px 0;
    padding: 7px 20px;
    margin-top: 40px;
    font-family: "EudoxusSans-regular";
    border-radius: 50px; 
}

#galeria-surrealismo a:hover{
    background-color: #1C1C1C;
}

#galeria-renacimineto{
    margin-top: 30px;
}

#galeria-surrealismo{
    margin-top: 30px;
}

